.userID {
  font-size: 30px;
  font-weight: lighter;
}

.followBtn {
  background-color: #0095f6;
  color: white;
  margin-right: 10px;
  border: none;
  height: 32px;
  font-weight: bold;
}

.followBtn:focus {
  outline: none !important;
}
